
// Variáveis
// As variáveis seguem o formato `$componente-estado-propriedade-tamanho`
// para nomeação consistente.
// Ex: $nav-link-disabled-color e $modal-content-box-shadow-xs.

// Toppanel
$admin-toppanel-bg:                   $gray-200 !default;
$admin-toppanel-height:               50px !default;
$admin-toppanel-border-bottom-size:   1px !default;
$admin-toppanel-border-bottom-color:  darken($admin-toppanel-bg, 1%) !default;

$admin-toppanel-breadcrump-color:           $gray-600 !default;
$admin-toppanel-breadcrump-color-hover:     $gray-700 !default;
$admin-toppanel-breadcrump-dot-color:       $admin-topmenu-bg !default;

$admin-toppanel-help-color:       $admin-toppanel-breadcrump-color !default;
$admin-toppanel-help-color-hover: $primary !default;

$admin-toppanel-info-color: $gray-600 !default;

//----------------------------------------------------------------------------------------------------------------------
// Ícones
//----------------------------------------------------------------------------------------------------------------------
