
// Variáveis
// As variáveis seguem o formato `$componente-estado-propriedade-tamanho`
// para nomeação consistente.
// Ex: $nav-link-disabled-color e $modal-content-box-shadow-xs.

// z-index do boootstrap (/default-theme/bootstrap-components/zindex.scss)
// -----------------------------------
// $zindex-dropdown:                   1000 !default;
// $zindex-sticky:                     1020 !default;
// $zindex-fixed:                      1030 !default;
// $zindex-modal-backdrop:             1040 !default;
// $zindex-modal:                      1050 !default;
// $zindex-popover:                    1060 !default;
// $zindex-tooltip:                    1070 !default;

// z-index do admin
$zindex-content:                       900 !default;
$zindex-content-layer:                 920 !default;
$zindex-pageloader-backdrop:           1065 !default;
$zindex-pageloader:                    1070 !default;
$zindex-sidemenu:                      1075 !default;
$zindex-topmenu:                       1076 !default;
$zindex-loader-backdrop:               1080 !default;
$zindex-loader:                        1090 !default;
